<main class="grid gap-6 px-8 py-6">
  <form
    class="flex gap-3 justify-center mx-auto items-center max-w-96 w-full"
    [formGroup]="taskForm"
    (ngSubmit)="onSubmit()"
  >
    <input
      type="text"
      nz-input
      class="rounded-md"
      placeholder="Enter your new task"
      formControlName="task"
    />
    <add-btn />
  </form>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <task-list
      [tasks]="(completedTasks$ | async) ?? []"
      title="Completed"
      (remove)="onRemove($event)"
      (edit)="onEdit($event)"
    />
    <task-list
      [tasks]="(uncompletedTasks$ | async) ?? []"
      (remove)="onRemove($event)"
      title="Uncompleted"
      (edit)="onEdit($event)"
    />
  </div>
</main>
